<mat-toolbar>
  <div>
    <button mat-button (click)="navigateToHome()" class="!text-2xl !text-blue-800">
      <mat-icon class="!text-3xl !h-8 !w-8">school</mat-icon>
      Stundenplan
    </button>
  </div>
  <span class="flex-auto"></span>
  <mat-icon class="!text-3xl !h-8 !w-8 !text-blue-800" matTooltip="Hilfe">help</mat-icon>

  <div>
    <button mat-button (click)="onLogout()" matTooltip="Abmelden">
      <mat-icon class="!text-3xl !h-8 !w-8 !text-blue-800">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
