<mat-card>
  <mat-card-header>
    <mat-card-title>Anmeldung</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>
          Rolle auswählen
        </mat-label>
        <mat-select required [formControl]="selectedRolleFormControl">
          @for (rolle of rollen; track rolle) {
            <mat-option [value]="rolle">{{rolle.bezeichnung}}</mat-option>
          }
        </mat-select>
        <mat-hint></mat-hint>
        @if(!selectedRolleFormControl.hasError("required")) {
          <mat-error>Bitte eine Rolle auswählen</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <button mat-button class="btn" (click)="onLogin()">
        <mat-icon>logout</mat-icon>
        Anmelden
      </button>
    </div>

  </mat-card-content>
</mat-card>
