<mat-card appearance="outlined" class="mb-5">
  <mat-card-header>
    <mat-card-title>Fächer verwalten</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Hier werden Fächer verwaltet...
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-button class="m-[5px] !bg-slate-400" (click)="onAddFach()">
        <mat-icon>add</mat-icon>
        Fach hinzufügen
      </button>
    </div>
    <div>
      <button mat-button class="m-[5px] !bg-slate-400" (click)="onShowAllFachList()">
        <mat-icon>view_list</mat-icon>
        Fächer anzeigen
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Schulen verwalten</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Hier werden Schulen verwaltet...
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-button class="m-[5px] !bg-slate-400" (click)="onAddSchule()">
        <mat-icon>add</mat-icon>
        Schule hinzufügen
      </button>
    </div>
    <div>
      <button mat-button class="m-[5px] !bg-slate-400" (click)="onShowAllSchuleList()">
        <mat-icon>view_list</mat-icon>
        Schulen anzeigen
      </button>
    </div>
  </mat-card-actions>
</mat-card>
